@use '../../styles/mixins';

.search-results {
  ul {
    display: grid;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    list-style: none;
    grid-template-columns: repeat(1, 1fr);
    @include mixins.media(desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
    li {
      border: 1px solid var(--color-gray);
      padding: 16px;
      border-radius: 8px;
    }
    .resort-status {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 16px;
      vertical-align: middle;
      font-size: 0;
      border-radius: 50%;
    }
    .send-status {
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      font-size: 0;
    }
    .the-goods {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: flex-start;
      align-items: stretch;
      gap: 16px;
      padding: 16px 0;
      b {
        display: block;
        margin-bottom: 4px;
      }
      .block {
        grid-column: 1/-1;
      }
    }
  }
  h4 {
    margin-top: 0;
  }
}