@use '../../styles/mixins';

.search-results {
  ul {
    display: grid;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(1, 1fr);
    @include mixins.media(desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
    .resort {
      display: grid;
      align-items: flex-start;
      gap: 16px;
      border: 1px solid var(--color-gray);
      padding: 16px;
      border-radius: 8px;
      grid-template-columns: 32px 2fr;
      grid-template-areas:
          "status left"
          "right"
          "full full full";
      @include mixins.media(mobile) {
        grid-template-columns: 40px 2fr 3fr;
        grid-template-areas:
          "status left right"
          "full full full";
      }
    }
    .resort-right {
      grid-column: 1 / -1;
      @include mixins.media(mobile) {
        grid-column: auto;
      }
    }
    .resort-status, 
    .send-score {
      display: block;
    }
    .resort-status {
      width: 10px;
      height: 10px;
      margin: 8px auto 16px;
      border-radius: 50%;
      font-size: 0;
    }
    .send-score {
      &.status-excellent {
        &::after {
          content: '🚀';
        }
      }
      &.status-good {
        &::after {
          content: '👍';
        }
      }
      &.status-fair {
        &::after {
          content: '🤷‍♂️';
        }
      }
      &.status-poor {
        &::after {
          content: '👎';
        }
      }
    }
    .the-goods {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: flex-start;
      align-items: stretch;
      gap: 16px;
      grid-column: 1 / -1;
      padding: 16px 0;
      border-top: 1px solid var(--color-gray);
      b {
        display: block;
        margin-bottom: 4px;
      }
      .block {
        grid-column: 1/-1;
      }
    }
    .quick-look {
      font-size: .8rem;
      display: block;
      margin-bottom: 8px;
    }
    h5 {
      margin-bottom: 8px;
    }
  }
}