@use '../../styles/mixins';

.search-results {
  ul {
    display: grid;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(1, 1fr);
    @include mixins.media(desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
    .resort {
      display: grid;
      align-items: flex-start;
      gap: 16px;
      border: 1px solid var(--color-gray);
      padding: 16px;
      border-radius: 8px;
      grid-template-columns: repeat(1, 1fr);
      @include mixins.media(mobile) {
        grid-template-columns: 46px 2fr 3fr;
        grid-template-areas:
          "status left right"
          "full full full";
      }
    }
    .resort-left {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      @include mixins.media(mobile) {
        display: block;
      }
    }
    .resort-right {
      grid-column: 1 / -1;
      @include mixins.media(mobile) {
        grid-column: auto;
      }
    }
    .resort-status, 
    .send-score {
      display: block;
    }
    .resort-status {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      font-size: 0;
      margin: 0 16px;
      @include mixins.media(mobile) {
        margin: 8px auto 16px;
      }
    }
    .send-score {
      display: block;
      padding: 3px 6px 2px;
      text-align: center;
      border-radius: 20px;
      text-transform: uppercase;
      font-size: 10px;
      background: var(--color-white);
      color: var(--color-black);
      font-weight: bold;
      b {
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
        border-bottom: 1px solid var(--color-gray);
        margin-bottom: 8px;
      }
      &.status-excellent {
        &::after {
          content: '🚀';
        }
      }
      &.status-good {
        &::after {
          content: '👍';
        }
      }
      &.status-fair {
        &::after {
          content: '🤷‍♂️';
        }
      }
      &.status-poor {
        &::after {
          content: '👎';
        }
      }
    }
    .the-goods {
      display: grid;
      justify-content: flex-start;
      align-items: stretch;
      gap: 16px;
      grid-column: 1 / -1;
      padding: 16px 0;
      border-top: 1px solid var(--color-gray);
      @include mixins.media(mobile) {
        grid-template-columns: repeat(2, 1fr);
      }
      b {
        display: block;
        margin-bottom: 4px;
      }
      .block {
        grid-column: 1/-1;
      }
    }
    .quick-look {
      font-size: .8rem;
      display: block;
      margin-bottom: 8px;
    }
    h5 {
      margin-bottom: 8px;
    }
  }
}