button {
  display: inline-block;
  padding: 8px 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background: var(--color-black);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 4px;
  font-size: .75rem;
  transition: all .12s linear;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &:hover {
    background: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-white);
  }
}

a.btn-simple, button.btn-simple {
  padding: 0;
  border: none;
  font-size: .7rem;
  color: var(--color-white);
  &:hover {
    text-decoration: underline;
    background: none;
    color: var(--color-whtie);
  }
}

input, select {
  display: inline-block;
  background: var(--color-black);
  border: 1px solid var(--color-white);
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--color-white);
  box-sizing: border-box;
  &:not(:last-child) {
    margin-right: 8px;
  }
}
select {
  padding-left: 12px;
}