@use "mixins" as *;

body {
  font: {
    family: var(--font-body);
    weight: var(--weight-body);
    size: .8rem;
  }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 0;
}
h2, h3, h4, h5,
.h2, .h3, .h4, .h5 {
  font-weight: 400;
}
h1, .h1 {
  text-transform: uppercase;
  line-height: 0.9;
  font-weight: 400;
  font-family: var(--font-heading);
  font-size: clamp(4rem, 6rem, 7rem);
  margin-bottom: 0;
}
h2, .h2 {
  font-size: 4rem;
  @include media(desktop) {
    font-size: 5rem;
  }
  &.subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}
h3, .h3 {
  font-size: 2rem;
  @include media(desktop) {
    font-size: 3rem;
  }
}
h4, .h4 {
  font-size: 1.75rem;
  @include media(desktop) {
    font-size: 2rem;
  }
}
h5, .h5 {
  font-size: 1.25rem;
}
h6, .h6 {
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;
}