.bg-red {
  background-color: var(--color-red);
}
.bg-gold {
  background-color: var(--color-gold);
}
.bg-green {
  background-color: var(--color-green);
}
.bg-blue {
  background-color: var(--color-snow);
}
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
.color-gray {
  color: var(--color-gray);
}
.color-gold {
  color: var(--color-gold);
}
.color-green {
  color: var(--color-green);
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
.capitalized {
  text-transform: capitalize;
}