.bg-red {
  background-color: var(--color-red);
}
.bg-yellow {
  background-color: var(--color-yellow);
}
.bg-green {
  background-color: var(--color-green);
}
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
.color-gray {
  color: var(--color-gray);
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}