@use '../../styles/mixins';

.resort {
  display: grid;
  align-items: flex-start;
  gap: 16px;
  border: 1px solid var(--color-gray);
  padding: 16px;
  border-radius: 8px;
  grid-template-columns: repeat(1, 1fr);
  @include mixins.media(mobile) {
    grid-template-columns: 46px 2fr 3fr 20px;  
  }
  .resort-left {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    @include mixins.media(mobile) {
      display: block;
    }
  }
  .resort-right {
    grid-column: 1 / -1;
    @include mixins.media(mobile) {
      grid-column: auto;
    }
  }
  .resort-status, 
  .send-score {
    display: block;
  }
  .resort-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 0;
    margin: 0 16px 0 0;
    @include mixins.media(mobile) {
      margin: 8px auto 12px;
    }
  }
  .send-score {
    display: block;
    padding: 3px 6px 2px;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 10px;
    background: var(--color-white);
    color: var(--color-black);
    font-weight: bold;
    margin-right: 12px;
    @include mixins.media(mobile) {
      margin-bottom: 8px;
      margin-right: 0;
    }
    b {
      display: inline-block;
      font-size: 10px;
      text-transform: uppercase;
      border-bottom: 1px solid var(--color-gray);
      margin-bottom: 8px;
    }
  }
  .favorite {
    display: inline-block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    &:hover {
      svg {
      path {
        stroke: var(--color-gold);
      }
      } 
    }
    &.is-favorite {
      svg {
        path {
          fill: var(--color-gold);
          stroke: var(--color-gold);
        }
      }
    }
    svg {
      margin-bottom: 0;
      path {
        transition: all .12s linear;
      }
    }
    &_mobile {
      display: inline-block;
      @include mixins.media(mobile) {
        display: none;
      }
    }
    &_desktop {
      display: none;
      @include mixins.media(mobile) {
        display: inline-block;
      }
    }
  }
  .open-percent {
    margin-right: auto;
    @include mixins.media(mobile) {
      margin-right: 0;
    }
    svg {
      position: relative;
      display: block;
      margin: 0 auto;
      transform: rotate(-90deg);
    }
    &_circle {
      stroke: var(--color-gray-dark);
    }
    &_progress {
      stroke-dasharray: 85px;
      fill: transparent;
      &.open-blue {
        stroke: var(--color-snow);
      }
      &.open-gray {
        stroke: var(--color-gray-dark);
      }
      &.open-red {
        stroke: var(--color-red);
      }
      &.open-gold {
        stroke: var(--color-gold);
      }
      &.open-green {
        stroke: var(--color-green);
      }
    }
    &_text {
      position: absolute;
      fill: var(--color-white);
      font-size: 10px;
      font-weight: bold;
    }
  }
  .the-goods {
    display: grid;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    grid-column: 1 / -1;
    padding: 16px 0;
    border-top: 1px solid var(--color-gray);
    @include mixins.media(mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
    b {
      display: block;
      margin-bottom: 4px;
    }
    .block {
      grid-column: 1/-1;
    }
  }
  .quick-look {
    font-size: .8rem;
    display: block;
    margin-bottom: 8px;
  }
  h5 {
    margin-bottom: 8px;
  }
}