@use '../../styles/mixins';

.search-form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  flex-flow: row wrap;
  @include mixins.media(desktop) {
    flex-flow: row nowrap;
  }
  &-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: .75rem;
    flex: 0 0 100%;
    @include mixins.media(tablet) {
      flex: revert;
    }
  }
  input, select {
    width: 250px;
    transition: opacity .12s linear;
    &.disabled, &.disabled + button {
      opacity: .5;
    }
    &::placeholder {
      color: var(--color-white);
      opacity: 1;
    }
  }
  button {
    min-width: 140px;
    @include mixins.media(tablet) {
      min-width: auto;
    }
  }
  h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
  }
}
