.footer {
  padding-top: 2rem;
  margin-top: 2rem;
  // border-top: 1px solid var(--color-gray-dark);
  img {
    display: inline-block;
    max-width: 32px;
    height: auto;
    margin: 8px;
  }
  a {
    display: inline-block;
  }
  p {
    text-transform: uppercase;
  }
}