@use './styles/variables';
@use './styles/typography';
@use './styles/utilities';
@use './styles/elements';

body {
  background: var(--color-black);
  color: var(--color-white);
  font: {
    family: var(--font-body);
    weight: var(--weight-body);
    size: 1rem;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}